<div id="chatroom">
    <div id="contacts">
        <div id="contactParentField">
            <input id="contactField" placeholder="Search Contact">
        </div>
    </div>
    <div id="chats">
        <div class="smsGroup">
           
        </div>
        <div id="smsFieldParent">
            <div id="smsFieldBackground">
                 <div id="container">
                    <textarea id="smsArea"></textarea>
                    <img src="../../assets/send6.png" id="sendSms" type="button">
                </div>
            </div>
        </div>
    </div>
</div>