
<nav class="navbar-skeleton">            
    <div id="logo"></div>
    <ul  id="navbar-right-items">
        <li (click)="doLogin()">LOGIN</li>
        <li (click)="doRegister()">REGISTER</li>
        <!--<li (click)="loginFunc()" [style.display]="loggedinStatus()? 'none':'block'">LOGIN</li>
        <li (click)="regFunc()" [style.display]="loggedinStatus()? 'none':'block'">REGISTER</li>
        <a routerLink="" [style.display]="!loggedinStatus()? 'none':'block'"><li>SignOut</li></a>
        -->
    </ul> 
    


</nav>