<div id="base">
    
  <div id="headers">
    <span id="title">Sign In</span>
    <img id="exit" src="../../assets/cross.png" (click)="closeWindow()">
  </div>
  <form class="winLogin">
    <span style="font-size: 12px;margin-right:160px; color:gray">Email:</span>
    <input type="text"  class="form-login-input" placeholder="" #userEmail/>
    <span style="margin-top:5px;font-size: 12px;margin-right:145px; color:gray">Password:</span>
    <input type="password"  class="form-login-input" #userPassword/>
    <input type="button" class="form-login-btn" value="Continue" (click)="doLogin()" />
    <a class="form-login-link">Trouble logging in?</a>
  </form>

</div>